/* @font-face {
    font-family: 'SF Pro Display', Arial, sans-serif;
    src: url(https://v1.fontapi.ir/css/SFProDisplay:400);
    font-style: normal;
    font-weight: 400;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'SF Pro Display';
    font-size: 4.32vw;
    color: red;
}

.body::before {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-image: url('images/Макет\ мобилки.png');
   
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: -1;
}

 /* background-image: url('images/Меню-мобилка.png'); */

.psge {
    font-size: 0;
}

.header {
    width: 100%;
}

.menu-button, .menu-button-unhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}


.caption-page-menu {
    display: inline-flex;
    justify-content: center;
    height: 3.4rem;
}

.logotip {
    position: absolute;
    top: 1.3rem;
    left: 8.85rem;
}

.menu-logo {
    padding: 1.2rem 2.3rem 0.6rem 2.07rem;
    width: 9.86rem;
}

.caption-page-menu > div:first-child,
.caption-page-menu > div:last-child {
    width: 3.5rem;
    height: 100%;
}

.name-company {
    vertical-align: top;
}

.caption-page-menu > div:nth-child(2n+2) {
    width: 3rem;
}

.caption-page-menu {
    width: 100%;
    border-bottom: #DADADA 1px solid;
}

.caption-page-menu > div {
    border-right: #DADADA 1px solid;
}

.caption-page-menu > div:last-child {
    border-right-style: none;
}


.menu-button-lines {
    display: block;
}

svg#ines { 
    color: black; 
    width: 2.71rem; 
}

.like-button-checkbox, 
.whatsup-button-checkbox,
.phone-button-checkbox {
    position: absolute;
    /* clip: rect(1px 1px 1px 1px); */
    height: 1px;
    width: 1px;
}

.like-button-text, 
.whatsup-button-text,
.phone-button-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

.like-button-checkbox::before{
    content: "";
    display: inline-block;

    width: 3rem;
    height: 3.71rem;
    background: url('images/heart-svgrepo-com.svg') no-repeat center;
    background-size: 1.3rem;
}

.whatsup-button-checkbox::before{
    content: "";
    display: inline-block;

    width: 3rem;
    height: 3.71rem;
    /* background: url('images/whatsapp-svgrepo-com.svg') no-repeat center; */
    background-size: 1.3rem;
}

.whatsup-button-checkbox::before{
    background: url('images/whatsapp-svgrepo-com\ \(1\).svg') no-repeat center;
    background-size: 1.5rem;
    fill:#ffd25a;
}

.phone-button-checkbox::before{
    content: "";
    display: inline-block;

    width: 3rem;
    height: 3.71rem;
    background: url('images/phone-call-svgrepo-com.svg') no-repeat center;
    background-size: 1.3rem;
}

.main-menu-unchecked {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden-menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    transform: translateY(0%);
    transition: all 0.2s linear;
}

.menu-caption {
    display: flex;

    align-items: center;
}

.menu-label {
    position: relative;

    display: block;
    margin-right: 3.29rem;
}

.menu-text-sign::before, .menu-text-sign::after{
    position: absolute;
    top: 0.63rem;
    left: -0.3rem;

    content: "";
    display: inline-block;
    margin-left: 0rem;
    width: 1.75rem;
    height: 0.07rem;
    vertical-align: middle;
    background-color: #222222;
}

.menu-text-sign:before {
    transform: rotate(45deg);
}

.menu-text-sign:after {
    transform: rotate(-45deg);
}

.menu-text {
    display: inline-block;
    margin-left: 1.7rem;
    vertical-align: middle;

    font-weight: normal;
    font-size: 1rem;
    color: #222222;
}

.logo {
    width: 1.64rem;
    height: 1.43rem;
}

.name-company {
    font-size: 1.14rem;
    font-weight: normal;
    color: #222222;

    text-transform: uppercase;
}

.hidden-list {
    margin-top: 3.8rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    color: #222222;

    list-style-type: none;
}

.nav-item:nth-child(n + 2) {
    margin-top: 1.75rem;
}

.nav-item .nav-link {
    text-decoration: none;
    font-style: normal;
    font-size: 1.29rem;
    color: #222222;
}

.hidden-time-work {
    margin-top: 3.07rem;

    font-weight: normal;
    font-size: 1rem;
    color: #222222;
}

.time-work {
  margin-left: 0.36rem;  
}

.mail-work {
    margin-top: 0.43rem;

    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #222222;
}

.menu-mail-post {
    margin-left: 0.43rem;

    text-decoration: none;
    color: #222222;
}

.hidden-box-main-menu {
    padding: 1.1rem 1.14rem 1.71rem;
    display: none;
}

.menu-button-label {
    display: block;
    padding: 0.7rem 0 0 0.8rem;
}

.menu-button:checked ~ div.hidden-box-main-menu {
    display: block;
}

.menu-button:checked ~ div.caption-page-menu {
    display: none;
}

.title-box-conteiner {
    position: relative;

    background-image: url('images/cloud1.png'), url('images/cloud2.png'), url('images/cloud3.png'),url('images/cloud4.png');
    background-repeat: no-repeat;
    background-position: right 5rem bottom 5rem, left 5rem bottom 5rem,right 5rem bottom, left 5rem bottom;
    background-size: 25rem;
}

.title-box-conteiner::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url('images/title-first.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size:  cover;
    filter: blur(20px);
    z-index: -10;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    padding: 2.36rem 0.7rem 0; 
}

.title-big-text {
    font-size: 1.71rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;   
}

.title-green-text {
    font-size: 1.71rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;  
    color: #45C436;
}

.title-subtext {
    width: 17.29rem;
    margin: 1.14rem auto 0;

    font-size: 1.26rem;
    font-weight: 400;
    line-height: 1.22;
    text-align: center; 
}

.title-description::before {
    content: "";
    display: block;

    width: 100%;
    height: 27rem;

    background-image: 
        url('images/small-phone.png'), 
        url('images/cash-5000.png'),
        url('images/cash-10.png'),
        url('images/Note-book-title.png');
    background-repeat: no-repeat;
    background-position: bottom 5rem right 9.5rem, bottom 4rem left 8rem, bottom 13rem left 14.5rem, center;
    background-size: 80%, 100%, 100%, 118%;

    z-index: -1;
}

.title-description-text {
    position: relative;
    top: -1rem;

    margin: 0 auto;
    width: 19rem;

    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    /* color: #222222; */
}

.title-description-green-text {
    color: #45C436;
}

.leave_request {
    margin: 0 auto;
}

.leave_request_btn {
    position: relative;
    width: 21.4rem;
    height: 4.5rem;
    margin-top: 1.9rem;
    padding: 1rem 10.57rem 1rem 2.57rem;

    border: none;
    background: linear-gradient(291.31deg, rgba(0, 0, 0, 0.2) 3.27%, rgba(0, 0, 0, 0) 66.8%), #45C436;
    border-radius: 61px;

    font-family: inherit;
    text-align: start;

    cursor: pointer;
}

.leave_request_text {
    display: inline-block;
    width: 8.07rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    /* color: #ffffff; */
}

.leave_request_text::after {
    content: "";
    position: absolute;
    top: -3.5em;

    width: 13rem;
    height: 10rem;
    background: url('images/catalog.png') no-repeat center;
    background-size: 14rem;
    transform: rotate(-2.54deg);
}

.pop_up_request {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.pop_up_request_first {
    display: none;
    position: fixed;
    top: 6.5rem;
    left: 0.81rem;
    width: 21.43rem;
    padding: 0 0.57rem;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    border-radius: 9px;
    z-index: 101;
}

.close_pop_up {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 18px;
}

.pop_up_get_free {
    margin-top: 3.14rem;
    font-weight: 600;
    font-size: 1.71rem;
    text-align: center;
    /* color: #222222; */
}

.pop_up_free_kp {
    margin-top: 0.64rem;
    font-weight: 400;
    font-size: 0.86rem;
    text-align: center;
    /* color: #222222; */
}

.pop_up_name_of_free {
    margin-top: 1.5rem;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.17;
    text-align: center;
    /* color: #222222; */
}

.pop_up_form {
    margin-top: 1.5rem;
}

.pop_up_form_label {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pop_up_btn {
    width: 18rem;
    margin: 0 auto;
    padding: 1.29rem 3.07rem;
   
    border-radius: 4.36rem;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}

.pop_up_user_number {
    /* position: relative; */
    background: #F2F2F2;
    border: 1px solid #E7E7E7;

    background-image: url('images/layewr1.png');
    background-repeat: no-repeat;
    background-position: top 1.3rem left 1.3rem;
    background-size: 1.07rem;

    color: #C5C5C5;
    text-align: start;
}

.pop_up_user_number::placeholder {
    color: #C5C5C5;
}

.pop_up_user_number_submit {
    margin-top: 1rem;
    background: linear-gradient(291.31deg, rgba(0, 0, 0, 0.2) 3.27%, rgba(0, 0, 0, 0) 66.8%), #45C436;
    border: none;

    color: #FFFFFF;
}

.pop_up_user_personal_data,
.pop_up_user_number_text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    
}

.pop_up_user_personal_data_box {
    display: block;
    margin: 1rem auto 2.5rem 3.57rem;
}

.pop_up_user_personal_data_text {
    position: relative;
    width: 15rem;
}

.pop_up_user_personal_data_text::before {
    content: "";
    position: absolute;
    left: -1.5rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;

    background-image: url('images/rect1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
}

.pop_up_user_personal_data:checked + .pop_up_user_personal_data_text::before {
    background-image: url('images/check-solid.svg');
}

.pop_up_after_app {
    display: none;
    position: fixed;
    top: 6.5rem;
    left: 0.81rem;
    width: 21.43rem;
    height: 27.3rem;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    border-radius: 9px;
    z-index: 101;

    overflow: hidden;
}

.pop_up_after_app::after {
    content: "";
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: url(images/pop_upOK.png) no-repeat top 2.5rem left 3.5rem;
    background-size: 14rem;
    transform: matrix(0.93, 0.34, -0.36, 0.94, 0, 0);
}

.pop_up_after_text{
    padding: 3.7rem 3.7rem 0 3.7rem;

    text-align: center;
}

.pop_up_after_thanks {
    font-style: normal;
    font-weight: 600;
    font-size: 1.43rem;
    color: #45C436;
    text-align: center;
}

.pop_up_after_text_call {
    margin-top: 1.64rem;
    margin-bottom: 1.64rem;

    font-style: normal;
    font-weight: normal;
    font-size: 1.29rem;
    line-height: 1.2;
    text-align: center;
    color: #222222;
}

.pop_up_after_big_OK {
    width: 12.79rem;
    height: 3.79rem;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(291.31deg, rgba(0, 0, 0, 0.2) 3.27%, rgba(0, 0, 0, 0) 66.8%), #45C436;
    border:none;
    border-radius: 61px;
}

.section_head_page {
    padding: 7.8rem 0.71rem 0;
}

.section_head_page_caption_text,
.section_head_page_caption_text_oval {
    font-style: normal;
    font-weight: 600;
    font-size: 1.71rem;
    line-height: 1.2;
    text-align: center;
    color: #222222;
}

.section_head_page_caption_oval {
    height: 3rem;
    display: inline-flex;

    padding: 0 0.2rem;
    margin-top: -0.3rem;

    border: 1px solid #45C436;
    border-radius: 100%/100%;

    font-style: normal;
    font-weight: 600;
    font-size: 1.71rem;
    line-height: 1.2;
    align-items: center;

    color: #222222;
}

.type_site_lending {
    display: flex;
    flex-direction: column;
}

.type_site_lending {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
    border-radius: 12px;
}

.type_site_header {
    width: 100%;
    padding: 1.71rem 0;
    border-bottom: 1px solid #C4C4C439;
    
    font-style: normal;
    font-weight: normal;
    font-size: 1.29rem;
    text-align: center;
}

.type_site_lending_imagine {
    position: relative;
    width: 100%;
    height: 15.9rem;

    border-bottom: 1px solid #C4C4C439;
}

.type_site_lending_imagine_img_desk {
    max-width: 100%;
}

.type_site_lending_imagine_img_tel {
    position: absolute;
    right: 2rem;
    bottom: 0;
    max-width: 33%;
}

.type_site_lending_costing {
    padding: 2rem 0;

    text-align: center;
}

.type_site_lending_usual_price {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;

    text-decoration: 1px line-through red;
}

.type_site_price_with_discount {
    font-style: normal;
    font-weight: normal;
    font-size: 1.29rem;
    color: #3CAA2F;
}

.type_site_price_with_discount_green {
    font-style: inherit;
    font-weight: bold;
    font-size: inherit;

    color: inherit;
}

.type_site_more {
    margin: 1.17rem auto 0;
    width: 12.8rem;
    height: 3.8rem;
    padding: 1.3rem 0;

    background: 
    linear-gradient(288.46deg, rgba(0, 0, 0, 0.2) -12.86%, rgba(0, 0, 0, 0) 66.5%), 
    #45C436;
    border: none;
    border-radius: 9rem;

    text-align: center;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem; 
    color: #FFFFFF;   
}